
<div class="container m-5">
  <h1>Cocktails</h1>
  <div>
    <% @cocktails.each do |cocktail| %>
      <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-success" %></h2>
      <%#= link_to 'Delete',   %>
    <% end %>
  </div>
</div>
