<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<h1>Cocktails</h1>
<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-success" %></h2>
  <%#= link_to 'Delete',   %>
<% end %>
